    <% layout('layouts/boilerplate') %>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  
    <h1>New Destination Page</h1>
    <form action="/travel" method="POST">
      Name: <input type="text" name="name" /><br/>
      Location: <input type="text" name="location" /><br/>
      Image : <input type="text" name="img" /><br/>
      Recomended: <input type="checkbox" name="recomended" /><br/>
      <input type="submit" value="Create Destination"/>
    </form>
